

  body{
    background-image: url(https://cdn.dribbble.com/users/1373613/screenshots/4679325/0606__.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
      font-family: "Inter Tight", sans-serif;
  background-size: cover;
    }

  
    
  
  
  

.contain-info{
  display:flex;
  flex-direction:column;
   }

.F{
  font-size: 250px;
}

.I{
  font-size: 250px;
}

.D{
  font-size: 250px;
}

.W{
  font-size: 220px;
}


.title{
  font-size: 100px;
  margin-left:270px;
}

.ttext{
  font-size: 40px;
  margin-left:70px;
  margin-right:50px;
  flex-wrap: wrap;
  margin-top:50px;
  margin-bottom: 0px;
  text-align: left;
  
  border-radius:300px;
  padding-top:40px;
  padding-bottom:40px;
 }
 .p-1{
  background-color:  rgba(101, 104, 177, 0.555);
 border-radius:300px;
 text-align:center;
 padding-top:15px;
 padding-bottom:15px;
}
 .p-2{
  background-color:  rgba(101, 104, 177, 0.555);
  border-radius:300px;
  text-align:center;
  padding-top:15px;
  padding-bottom:15px;
}
 .p-3{
  background-color:  rgba(101, 104, 177, 0.555);
  border-radius:300px;
  text-align:center;
  padding-top:15px;
  padding-bottom:15px;
}
 

.container{
  display:flex;
  justify-content:space-between;
  padding:60px;
}


.pic{
  width:350px;
  border-radius: 50%;
}

.grace{
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
   width:350px;
}

.text1{
  font-size: 30px;
  margin-top:15px;
  flex-wrap: wrap;
  border-top:double black;
  border-bottom:double black;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:40px;
  text-align:center;
  background-color: rgba(121, 124, 219, 0.555);

}


.container-2{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  margin-right:250px;
}

.div-titel{
  display:flex;
}


.div-ada{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  width:350px;
 }

.pic-ada{
  width:350px;
  border-radius: 50%;
}

.ada{
  font-size: 30px;
  margin-top:15px;
  border-left:double black;
  border-right:double black;
  padding-left:30px;
  padding-right:30px;
  text-align:center;
  margin-top:60px;
  background-color: rgba(121, 124, 219, 0.555);

}

.hamilton{
  display:flex;
  flex-direction:column;
  width:350px;
  flex-wrap: wrap;
}


.pic-ham{
  width:350px;
  border-radius: 50%;
}

.text-ham{
  font-size: 30px;
  margin-top:15px;
  flex-wrap: wrap;
  border-top:double black;
  border-bottom:double black;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:47px;
  text-align:center;
  background-color: rgba(121, 124, 219, 0.555);

}